<a href="https://colab.research.google.com/github/desean2394/IT7103-Fall-2024/blob/main/A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [9]:
path_employee_general = "/content/drive/MyDrive/Assignment 1 Dataset/employee_general.csv"
path_employee_rating = "/content/drive/MyDrive/Assignment 1 Dataset/employee_rating.csv"

In [11]:
employee_general = pd.read_csv(path_employee_general)
employee_rating = pd.read_csv(path_employee_rating)

In [12]:
print(employee_general.head())
print(employee_rating.head())

  EmployeeNumber|Education|EducationField|MaritalStatus
0                     1|College|Life Sciences|Single
1              2|Below College|Life Sciences|Married
2                             4|College|Other|Single
3                     5|Master|Life Sciences|Married
4                    7|Below College|Medical|Married
   EmployeeNumber              Department EnvironmentSatisfaction  \
0               1                   Sales                  Medium
1               2  Research & Development                    High
2               4  Research & Development               Very High
3               5  Research & Development               Very High
4               7  Research & Development                     Low

                 JobRole PerformanceRating  YearsAtCompany  \
0        Sales Executive         Excellent               6
1     Research Scientist       Outstanding              10
2  Laboratory Technician         Excellent               0
3     Research Scientist         Excellent               8
4  Laboratory Technician         Excellent               2

   YearsInCurrentRole  MonthlyIncome
0                   4           5993
1                   7           5130
2                   0           2090
3                   7           2909
4                   2           3468

In [13]:
print("\nData types in employee_general:")
print(employee_general.dtypes)

Data types in employee_general:
EmployeeNumber|Education|EducationField|MaritalStatus    object
dtype: object

In [14]:
print("\nData types in employee_rating:")
print(employee_rating.dtypes)

Data types in employee_rating:
EmployeeNumber              int64
Department                 object
EnvironmentSatisfaction    object
JobRole                    object
PerformanceRating          object
YearsAtCompany              int64
YearsInCurrentRole          int64
MonthlyIncome               int64
dtype: object

In [15]:
print("\nClarified types for employee_general:")
print("""
- EmployeeNumber: Numeric (Nominal - Identifier)
- Education: Categorical (Ordinal - Ordered levels like Below College < College < Master)
- EducationField: Categorical (Nominal - No inherent order)
- MaritalStatus: Categorical (Nominal - No inherent order)
""")

Clarified types for employee_general:

- EmployeeNumber: Numeric (Nominal - Identifier)
- Education: Categorical (Ordinal - Ordered levels like Below College < College < Master)
- EducationField: Categorical (Nominal - No inherent order)
- MaritalStatus: Categorical (Nominal - No inherent order)

In [16]:
print("\nClarified types for employee_rating:")
print("""
- EmployeeNumber: Numeric (Nominal - Identifier)
- Department: Categorical (Nominal - No inherent order)
- EnvironmentSatisfaction: Categorical (Ordinal - Ordered satisfaction levels like Low < Medium < High)
- JobRole: Categorical (Nominal - No inherent order)
- PerformanceRating: Categorical (Ordinal - Ordered performance levels like Excellent < Outstanding)
- YearsAtCompany: Numeric (Continuous Numeric)
- YearsInCurrentRole: Numeric (Continuous Numeric)
- MonthlyIncome: Numeric (Continuous Numeric)
""")

Clarified types for employee_rating:

- EmployeeNumber: Numeric (Nominal - Identifier)
- Department: Categorical (Nominal - No inherent order)
- EnvironmentSatisfaction: Categorical (Ordinal - Ordered satisfaction levels like Low < Medium < High)
- JobRole: Categorical (Nominal - No inherent order)
- PerformanceRating: Categorical (Ordinal - Ordered performance levels like Excellent < Outstanding)
- YearsAtCompany: Numeric (Continuous Numeric)
- YearsInCurrentRole: Numeric (Continuous Numeric)
- MonthlyIncome: Numeric (Continuous Numeric)

In [17]:
import numpy as np

In [18]:
employee_rating['log_income'] = np.log(employee_rating['MonthlyIncome'])

In [19]:
print(employee_rating[['MonthlyIncome', 'log_income']].head())

   MonthlyIncome  log_income
0           5993    8.698347
1           5130    8.542861
2           2090    7.644919
3           2909    7.975565
4           3468    8.151333

In [20]:
print(employee_rating['EnvironmentSatisfaction'].unique())
print(employee_rating['PerformanceRating'].unique())

['Medium' 'High' 'Very High' 'Low']
['Excellent' 'Outstanding']

In [21]:
employee_rating['EnvironmentSatisfaction'] = employee_rating['EnvironmentSatisfaction'].map({
    'Low': 1, 'Medium': 2, 'High': 3, 'Very High': 4
})

In [22]:
employee_rating['PerformanceRating'] = employee_rating['PerformanceRating'].map({
    'Excellent': 1, 'Outstanding': 2
})

In [24]:
print(employee_general.columns)

Index(['EmployeeNumber|Education|EducationField|MaritalStatus'], dtype='object')

In [25]:
# Strip any spaces from column names
employee_general.columns = employee_general.columns.str.strip()

# Check if 'MaritalStatus' exists after cleaning
print(employee_general.columns)

Index(['EmployeeNumber|Education|EducationField|MaritalStatus'], dtype='object')

In [26]:
if 'MaritalStatus' in employee_general.columns:
    employee_general['MaritalStatus'] = employee_general['MaritalStatus'].map({
        'Single': 1,
        'Married': 2,
        'Divorced': 3
    })
else:
    print("MaritalStatus column not found.")

MaritalStatus column not found.

In [27]:
employee_general = employee_general['EmployeeNumber|Education|EducationField|MaritalStatus'].str.split('|', expand=True)
employee_general.columns = ['EmployeeNumber', 'Education', 'EducationField', 'MaritalStatus']

In [28]:
print(employee_general.head())
print(employee_general.columns)

  EmployeeNumber      Education EducationField MaritalStatus
0              1        College  Life Sciences        Single
1              2  Below College  Life Sciences       Married
2              4        College          Other        Single
3              5         Master  Life Sciences       Married
4              7  Below College        Medical       Married
Index(['EmployeeNumber', 'Education', 'EducationField', 'MaritalStatus'], dtype='object')

In [29]:
employee_general['MaritalStatus'] = employee_general['MaritalStatus'].map({
    'Single': 1,
    'Married': 2,
    'Divorced': 3
})

In [30]:
employee_general['Education'] = employee_general['Education'].map({
    'Below College': 1,
    'College': 2,
    'Master': 3
})

In [31]:
education_field_mapping = {
    'Life Sciences': 1,
    'Medical': 2,
    'Other': 3
}
employee_general['EducationField'] = employee_general['EducationField'].map(education_field_mapping)

In [32]:
education_field_mapping = {
    'Life Sciences': 1,
    'Medical': 2,
    'Other': 3
}
employee_general['EducationField'] = employee_general['EducationField'].map(education_field_mapping)

In [33]:
print(employee_general['Education'].unique())
print(employee_general['EducationField'].unique())

[ 2.  1.  3. nan]
[nan]

In [35]:
print(employee_general['EmployeeNumber'].dtype)
print(employee_rating['EmployeeNumber'].dtype)

object
int64

In [36]:
employee_general['EmployeeNumber'] = employee_general['EmployeeNumber'].astype(int)

In [37]:
merged_data = pd.merge(employee_general, employee_rating, on='EmployeeNumber')

In [38]:
print(merged_data.head())

   EmployeeNumber  Education  EducationField  MaritalStatus  \
0               1        2.0             NaN              1
1               2        1.0             NaN              2
2               4        2.0             NaN              1
3               5        3.0             NaN              2
4               7        1.0             NaN              2

               Department  EnvironmentSatisfaction                JobRole  \
0                   Sales                        2        Sales Executive
1  Research & Development                        3     Research Scientist
2  Research & Development                        4  Laboratory Technician
3  Research & Development                        4     Research Scientist
4  Research & Development                        1  Laboratory Technician

   PerformanceRating  YearsAtCompany  YearsInCurrentRole  MonthlyIncome  \
0                  1               6                   4           5993
1                  2              10                   7           5130
2                  1               0                   0           2090
3                  1               8                   7           2909
4                  1               2                   2           3468

   log_income
0    8.698347
1    8.542861
2    7.644919
3    7.975565
4    8.151333

In [39]:
print(employee_general['EducationField'].unique())

[nan]

In [40]:
education_field_mapping = {
    'Life Sciences': 1,
    'Medical': 2,
    'Other': 3,
    'Technical Degree': 4,  # Add missing categories
    'Marketing': 5,         # As needed
    'Human Resources': 6
}
employee_general['EducationField'] = employee_general['EducationField'].map(education_field_mapping)

In [41]:
print(employee_general['EducationField'].isna().sum())

1470

In [42]:
employee_general = pd.read_csv(path_employee_general)
employee_general = employee_general['EmployeeNumber|Education|EducationField|MaritalStatus'].str.split('|', expand=True)
employee_general.columns = ['EmployeeNumber', 'Education', 'EducationField', 'MaritalStatus']

In [43]:
print(employee_general['EducationField'].unique())

['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']

In [44]:
education_field_mapping = {
    'Life Sciences': 1,
    'Medical': 2,
    'Other': 3,
    'Technical Degree': 4,
    'Marketing': 5,
    'Human Resources': 6,
    'Engineering': 7,
}

In [45]:
employee_general['EducationField'] = employee_general['EducationField'].map(education_field_mapping)

In [46]:
employee_general['EducationField'].fillna(0, inplace=True)

In [47]:
print(employee_general['EducationField'].isna().sum())

0

In [48]:
print(merged_data.head())

   EmployeeNumber  Education  EducationField  MaritalStatus  \
0               1        2.0             NaN              1
1               2        1.0             NaN              2
2               4        2.0             NaN              1
3               5        3.0             NaN              2
4               7        1.0             NaN              2

               Department  EnvironmentSatisfaction                JobRole  \
0                   Sales                        2        Sales Executive
1  Research & Development                        3     Research Scientist
2  Research & Development                        4  Laboratory Technician
3  Research & Development                        4     Research Scientist
4  Research & Development                        1  Laboratory Technician

   PerformanceRating  YearsAtCompany  YearsInCurrentRole  MonthlyIncome  \
0                  1               6                   4           5993
1                  2              10                   7           5130
2                  1               0                   0           2090
3                  1               8                   7           2909
4                  1               2                   2           3468

   log_income
0    8.698347
1    8.542861
2    7.644919
3    7.975565
4    8.151333

In [49]:
print(employee_general['EducationField'].unique())

[1 3 2 5 4 6]

In [50]:
education_field_mapping = {
    'Life Sciences': 1,
    'Medical': 2,
    'Other': 3,
    'Technical Degree': 4,
    'Marketing': 5,
    'Human Resources': 6,
    }

In [51]:
employee_general['EducationField'] = employee_general['EducationField'].map(education_field_mapping)

In [52]:
print(employee_general['EducationField'].isna().sum())

1470

In [53]:
employee_general['EducationField'].fillna(0, inplace=True)

In [54]:
print(employee_general['EducationField'].unique())
print(employee_general['EducationField'].isna().sum())

[0.]
0

In [55]:
print(merged_data.head())

   EmployeeNumber  Education  EducationField  MaritalStatus  \
0               1        2.0             NaN              1
1               2        1.0             NaN              2
2               4        2.0             NaN              1
3               5        3.0             NaN              2
4               7        1.0             NaN              2

               Department  EnvironmentSatisfaction                JobRole  \
0                   Sales                        2        Sales Executive
1  Research & Development                        3     Research Scientist
2  Research & Development                        4  Laboratory Technician
3  Research & Development                        4     Research Scientist
4  Research & Development                        1  Laboratory Technician

   PerformanceRating  YearsAtCompany  YearsInCurrentRole  MonthlyIncome  \
0                  1               6                   4           5993
1                  2              10                   7           5130
2                  1               0                   0           2090
3                  1               8                   7           2909
4                  1               2                   2           3468

   log_income
0    8.698347
1    8.542861
2    7.644919
3    7.975565
4    8.151333

In [56]:
employee_general = pd.read_csv(path_employee_general)

In [57]:
employee_general = employee_general['EmployeeNumber|Education|EducationField|MaritalStatus'].str.split('|', expand=True)

In [58]:
employee_general.columns = ['EmployeeNumber', 'Education', 'EducationField', 'MaritalStatus']

In [59]:
print(employee_general['EducationField'].unique())

['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']

In [60]:
education_field_mapping = {
    'Life Sciences': 1,
    'Medical': 2,
    'Other': 3,
    'Technical Degree': 4,
    'Marketing': 5,
    'Human Resources': 6,
    }

In [61]:
employee_general['EducationField'] = employee_general['EducationField'].map(education_field_mapping)

In [62]:
print(employee_general['EducationField'].isna().sum())

0

In [63]:
employee_general['EducationField'].fillna(0, inplace=True)

In [64]:
employee_general['EmployeeNumber'] = employee_general['EmployeeNumber'].astype(int)
employee_rating['EmployeeNumber'] = employee_rating['EmployeeNumber'].astype(int)

In [65]:
merged_data = pd.merge(employee_general, employee_rating, on='EmployeeNumber')

In [66]:
print(merged_data.head())

   EmployeeNumber      Education  EducationField MaritalStatus  \
0               1        College               1        Single
1               2  Below College               1       Married
2               4        College               3        Single
3               5         Master               1       Married
4               7  Below College               2       Married

               Department  EnvironmentSatisfaction                JobRole  \
0                   Sales                        2        Sales Executive
1  Research & Development                        3     Research Scientist
2  Research & Development                        4  Laboratory Technician
3  Research & Development                        4     Research Scientist
4  Research & Development                        1  Laboratory Technician

   PerformanceRating  YearsAtCompany  YearsInCurrentRole  MonthlyIncome  \
0                  1               6                   4           5993
1                  2              10                   7           5130
2                  1               0                   0           2090
3                  1               8                   7           2909
4                  1               2                   2           3468

   log_income
0    8.698347
1    8.542861
2    7.644919
3    7.975565
4    8.151333